@font-face {
  font-family: "Avenir-Book";
  src: url("Avenir/AvenirLTStd-book.otf") format("truetype");
}
@font-face {
  font-family: "Avenir-Medium";
  src: url("Avenir/AvenirLTStd-Medium.otf") format("truetype");
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#animateGif {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    /*z-index: 2;*/
}

#animation video {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    /*z-index: 1;*/
}

#buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 2em;
    right: 2em;
    transition: all .2s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

#buttons a {
    border-radius: 50px;
    padding: 0.3em 0.3em 0.1em 0.3em;
    margin: 0.5em 0 0.5em 1em;
}

#buttons a img {
    max-width: 6em;
    max-height: 6em;
    border-radius: 50px;
}

.testpreview {
    z-index: 10;
    position: absolute;
}

.testpreview:hover {
    opacity: 0;
    /*display: none;*/
    transition: all .2s ease-in-out;
}

#buttons a:hover {
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 16px -5px rgba(0, 0, 0, 0.75);
    transform: scale(1.1);
    background-color: white;
}

.active {
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 16px -5px rgba(0, 0, 0, 2);
    transform: scale(1.1);
    background-color: white;
}

.bg {
    transition: all .5s ease-in-out;
}

.color1 {
    transition: all .5s ease-in-out;
    /*background-color: #ffa875;*/
    background-color: #0E0F58;
}

.color2 {
    transition: all .5s ease-in-out;
    background-color: #0E0F58;
}

.color3 {
    transition: all .5s ease-in-out;
    background-color: #0E0F58;
}

.hidden {
    /*display: none;*/
    opacity: 0;
}

.visible {
    /*display: flex;*/
    opacity: 100;
}

.transition {
    opacity: 100;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 1s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(#4837AC, #210B75);
    z-index: 998;
}

.content {
    width: 12em;
    height: 2rem;
    text-align: center;
    z-index: 999;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-family: Avenir-Medium;
    font-size: 1.6rem;
    cursor: pointer;
}


p {
    font-family: Avenir-Book;
    font-size: 0.8rem;
}

.credits {
    font-size: 0.5rem;
}

.start {
    -webkit-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: #fff;
}