button {
    
    
}

#buttons{
    display: flex;
    flex-direction: column;
    right: 5%;
    top: 5%;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

#buttons a{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 1em;
    box-shadow: 4px 4px 16px -5px rgba (0,0,0,0.75);
}

video {
    max-width: 100%;
}

#buttons a img{
    max-width: 100px;
    max-height: 100px;
    border border-radius: 50px;
    
}

.testpreview {
    z-index: 10;
    position: absolute;
}

.testpreview:hover{
    opacity: 0;
    transition: all.2s ease-in-out;
}

#buttons a:hover{
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 16px -5px rgba (0,0,0,0.75);
    transform: scale(1.1);
}

.active{
    transition: all .2s ease-in-out;
    box-shadow: 4px 4px 16px -5px rgba 0,0,0,0.75;
    transform: scale(1.1);
}